.blogparent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    
}

.blogcontainer{
    
    padding: 10px;
    /* width: 220px; */
    /* height: fit-content; */
    /* border: solid 2px black; */
    margin: 20px;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 13px 18px 13px 13px rgb(194, 193, 193);
    margin-top: 30px;
}
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #1f5156;
}
.blogtitle{
    margin-bottom: 12px;
   font-size:20px;
   font-weight: 700;
   
}

.blogimage img{
width: fit-content;
    display: flex;
    margin: auto;
    /* margin-bottom: 8px; */
 }
 .blogauthor{
    display: flex;
    
    justify-content: left;
 }
 .blogblog{
    display: flex;
    margin-bottom: 10px;
    
    /* height: 50px; */
    width: fit-content;
 }
 .search{
    align-items: center;
   width: 35%;
  
   height: 30px;
   border-radius: 5px 0px 0px 5px;
   margin-left: 390px;
   margin-top: 60px;
   
 }
 .search-button{
  
    padding: 25px;
    height: 43px;
    border-radius: 2px;
   margin-left: -25px;
    margin-top: 60px;
 }
 .buttons{
    display: flex;
    justify-content: space-between;
  align-items: flex-end;
    margin-top: 15px;
   
}
.buttons button{
    border-radius: 7px;
    padding: 3px;
    width: 70px;
    background-color: #1f5156;
    color:white;
}



 
@media (max-width: 1200px) {
    .blogparent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
        
    }
}

@media (max-width: 800px) {
    .blogparent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
    }
    .search{
        width:50%;
        margin-left: 10px;
        
    }
}

@media (max-width: 480px) {
    .blogparent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      
        
    }
}
.search{
    width:50%;
    margin-left: 10px;
}
